# O script classifica o vinho entre tinto ou branco

In [1]:
import pandas as pd
arquivo = pd.read_csv("datasets_16721_22034_wine_dataset.csv")

In [2]:
arquivo

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

### A primeira metade é de vinho tinto e a segunda metade é de vinho branco

In [3]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [4]:
arquivo.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
style                   0
dtype: int64

In [5]:
# Red = tinto
arquivo['style'] = arquivo['style'].replace('red', 0)

In [6]:
# white = branco
arquivo['style'] = arquivo['style'].replace('white', 1)

In [7]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [8]:
# Separando as variáveis entre preditoras e variáveis alvo
y = arquivo['style']
x = arquivo.drop('style', axis = 1)

In [9]:
from sklearn.model_selection import train_test_split

# Criando os conjuntos de dados de treino e de teste
x_treino, x_teste, y_treino, y_teste, = train_test_split(x, y, test_size = 0.3)

# test_size = quantos % dos dados vão ser usados para teste? No caso foram 30%

### x é os dados que eu quero inputar para treinar e achar o y

In [10]:
y_teste

6131    1
1741    1
1356    0
3214    1
6259    1
       ..
3371    1
176     0
5916    1
947     0
6229    1
Name: style, Length: 1950, dtype: int64

In [11]:
y_treino

5334    1
5085    1
4381    1
5439    1
6010    1
       ..
1100    0
5011    1
5743    1
3043    1
4025    1
Name: style, Length: 4547, dtype: int64

In [12]:
arquivo.shape

(6497, 13)

### Acuracy do modelo

In [13]:
# Esse é um algoritmo de classificar
from sklearn.ensemble import ExtraTreesClassifier

# Criando modelo 
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

# Imprimindo resultados:
resultado = modelo.score(x_teste, y_teste)
print("Acurácia = ", resultado)

Acurácia =  0.9953846153846154

### Ele vai treinar e calcular a previsão no x, e no y ele vai conferir se tá correto

In [14]:
print(len(y_teste))
print(len(x_teste))

1950
1950

In [15]:
y_teste[400:420]

539     0
3658    1
1233    0
6358    1
181     0
360     0
355     0
3409    1
5294    1
4225    1
3026    1
41      0
3271    1
3289    1
416     0
6341    1
4313    1
6400    1
2503    1
5236    1
Name: style, dtype: int64

In [16]:
x_teste[400:420]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
539,11.2,0.500,0.74,5.15,0.100,5.0,17.0,0.99960,3.22,0.62,11.2,5
3658,5.7,0.460,0.46,1.40,0.040,31.0,169.0,0.99320,3.13,0.47,8.8,5
1233,10.2,0.230,0.37,2.20,0.057,14.0,36.0,0.99614,3.23,0.49,9.3,4
6358,6.6,0.170,0.26,7.40,0.052,45.0,128.0,0.99388,3.16,0.37,10.0,6
181,8.9,0.610,0.49,2.00,0.270,23.0,110.0,0.99720,3.12,1.02,9.3,5
360,8.2,0.700,0.23,2.00,0.099,14.0,81.0,0.99730,3.19,0.70,9.4,5
355,6.7,0.750,0.01,2.40,0.078,17.0,32.0,0.99550,3.55,0.61,12.8,6
3409,6.6,0.360,0.21,1.50,0.049,39.0,184.0,0.99280,3.18,0.41,9.9,6
5294,6.4,0.150,0.40,1.30,0.053,61.0,146.0,0.99112,3.17,0.68,11.0,6
4225,8.0,0.240,0.26,1.70,0.033,36.0,136.0,0.99316,3.44,0.51,10.4,7
3026,7.4,0.250,0.49,1.10,0.042,35.0,156.0,0.99170,3.13,0.55,11.3,5
41,8.8,0.610,0.30,2.80,0.088,17.0,46.0,0.99760,3.26,0.51,9.3,4
3271,6.6,0.260,0.31,4.80,0.138,41.0,168.0,0.99510,3.20,0.38,9.3,5
3289,9.0,0.430,0.30,1.50,0.050,7.0,175.0,0.99510,3.11,0.45,9.7,4
416,10.6,0.480,0.64,2.20,0.111,6.0,20.0,0.99700,3.26,0.66,11.7,6
6341,6.0,0.270,0.32,3.60,0.035,36.0,133.0,0.99215,3.23,0.46,10.8,6
4313,6.8,0.240,0.37,7.45,0.043,59.0,188.0,0.99579,3.20,0.50,9.4,6
6400,6.4,0.105,0.29,1.10,0.035,44.0,140.0,0.99142,3.17,0.55,10.7,7
2503,6.9,0.210,0.28,2.40,0.056,49.0,159.0,0.99440,3.02,0.47,8.8,8
5236,8.7,0.300,0.34,4.80,0.018,23.0,127.0,0.99474,3.12,0.49,11.2,7

In [17]:
previsoes = modelo.predict(x_teste[400:420])

In [18]:
previsoes

array([0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1],
      dtype=int64)